* {box-sizing:border-box}

/* Slideshow container */
.slideinfo {
  opacity: 0;
  text-align: center;
}

.slideinfo:hover {
  color: white;
  text-align: center;
  opacity: 1;
}

.slideshow-container {
  max-width: 850px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* On hover, picture has little bit see-through */
.slideshow-container:hover {
  opacity: 0.5;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

